.welcome-message{
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
}

.btn{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 5px;
  cursor: pointer;
  text-align: center;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

