.welcome-message {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
}

/* Button Tambahkan Kegiatan */
#button-tambahkan {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#button-tambahkan:hover {
  background-color: #388e3c; /* Ubah warna menjadi lebih gelap saat hover */
}

/* List Kegiatan Home */
.pack-container {
  position: relative;
  display: flex;
  margin: auto;
  max-width: 400px;
  width: 75%;
  flex-direction: column;
  border-radius: 12px;
  background-color: #a2ef9f;
  border: 1px solid #fff;
  padding: 1.6rem;
  color: #000000;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin-top: 2rem;
  margin-bottom: 20px;
}

.header-list {
  position: relative;

  margin: 0;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 0;
  border-bottom: 1px solid #000000;
  background: transparent;
  padding-bottom: 1rem;
  text-align: center;
}

.price-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  font-family: sans-serif;
  font-size: 4.5rem;
  line-height: 1;
}

.price-container span:first-child {
  margin-top: 10px;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.price-container span:last-child {
  align-self: flex-end;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.lists-1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list span {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.24);
  background-color: rgba(255, 255, 255, 0.185);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-2 span svg {
  height: 12px;
  width: 12px;
}

.list-2 p {
  display: block;
  font-family: sans-serif;
}

/* Button Menambahkan Kegiatan */
.button-container {
  margin-top: 20px;
  padding: 0;
  margin-bottom: 20px;
}

.button-container button {
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #000;
  outline: 0;
  border: 0;
  border-radius: 10px;
}